body { 
	background-color : 	#90CDDE;
}

h1 {
	color: #7736A8;
	font-size: 48px;
	margin-top: 0px;
	margin-bottom: -20px;
}

h2 {
	color: #416FC4;
}

h3 {
	color: #7736A8;
}

p {
	color: #8F0000;
	margin: 20px; 
}

ul {
	color: #8F0000;
	list-style-type: disc;
}

#wat {
	width: 75%;
	height: 75%;
	margin-left: 50px;
}
